In [151]:
import pandas as pd

df = pd.read_csv("data/trip_data_matched_square_res100.csv", nrows=200)

df.head()

,Unnamed: 0,id,bike,start_datetime,end_datetime,start_lat,start_lng,end_lat,end_lng,start_polygon,end_polygon
0,2,koeln_07_5,21414,2019-07-01 02:07:00,2019-07-01 02:28:00,50.947557,6.958252,50.950361,6.957964,d9eb98d9-c516-47c3-81f6-23951032b7de,ae4b3169-27c5-4588-8770-429dd8ae7b0f
1,3,koeln_07_6,21125,2019-07-01 02:07:00,2019-07-01 02:19:00,50.950186,6.956912,50.938485,6.939901,5e4be7d3-7129-40d1-a8f4-b5bb96a52796,551a6f5b-f0bd-4ac3-bebd-1eb1320472f3
2,5,koeln_07_8,22747,2019-07-01 02:12:00,2019-07-01 02:21:00,50.922705,6.961858,50.929629,6.951514,7fdf13e8-b7d2-41e8-a8a8-8dc0c0df3e18,9db265e5-a45a-4d31-8e4e-ed76f88c55ba
3,10,koeln_07_13,22821,2019-07-01 02:24:00,2019-07-01 02:40:00,50.931751,6.937361,50.933055,6.941799,1b4585ad-8269-4a06-88ab-b900e60dd574,b424b6b3-0d57-4479-bf98-d0de852db23c
4,11,koeln_07_15,22204,2019-07-01 02:31:00,2019-07-01 02:46:00,50.912554,6.946964,50.909689,6.942551,5f490728-5b19-43fe-ad7c-cdca5c86ff6e,22e8ba12-c5f2-4bdd-9fce-138166677641

In [152]:
times = pd.to_datetime(df["start_datetime"])

grouped = df.groupby(
    [(times - times[0]).astype('timedelta64[h]')])

In [153]:
trips_per_cell = []

for i, g in grouped:

    start_date = g["start_datetime"].reset_index()["start_datetime"][0]
    end_date = g["start_datetime"].reset_index()["start_datetime"].iloc[-1]

    start_counts = g["start_polygon"].value_counts().reindex(
        df["start_polygon"].unique(), fill_value=0)

    end_counts = g["end_polygon"].value_counts().reindex(
        df["end_polygon"].unique(), fill_value=0)

    trips_per_cell.append({ "start_date": start_date, "end_date": end_date, "trip_starts": pd.DataFrame([start_counts]), "trip_ends": pd.DataFrame([end_counts])})

result = pd.DataFrame(trips_per_cell)

In [154]:
with open('square_res1000.json', "w", encoding='utf-8') as file:
    result.to_json(
        file, orient="records", force_ascii=False)